<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanda.beivandalibnetworkdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.vanda.beivandalibnetwork.application.VandaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.vanda.beivandalibnetwork.activity.AppStart"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vanda.beivandalibnetwork.activity.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.vanda.beivandalibnetwork.activity.FragmentMainActivity"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
            <activity android:name="com.vanda.beivandalibnetwork.activity.ImageViewFragmentActivity"
                  android:launchMode="singleTop"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"></activity>
             <activity android:name="com.vanda.beivandalibnetwork.activity.WebViewActivity"
                   android:launchMode="singleTop"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>